@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
  .menu {
    @apply
    hidden
    h-14
    mobile:text-sm
    mobile:h-14
    tablet:flex
    tablet:flex-row
  }

  .menu-btn {
    @apply
    mobile:flex
    mobile:items-center
    mobile:justify-center
    mobile:m-auto
    mobile:h-12
    mobile:text-center
    tablet:hidden
  }

  .nav-item {
    @apply
    relative
    flex items-center justify-center
    h-12 w-16 mt-2 px-2 mx-auto
    transition-all

    hover:text-blue-500
    hover:before:absolute
    hover:before:content-['']
    hover:before:border-b-2
    hover:before:border-b-blue-500
    hover:before:w-16
    hover:before:h-2
    hover:before:-bottom-2.5
    hover:before:transition-all
  }

  .nav-item__active {
    @apply
    text-blue-500
    before:absolute
    before:content-['']
    before:border-b-2
    before:border-b-blue-500
    before:w-16
    before:h-2
    before:-bottom-2.5
  }

  .nav-link {
    @apply
    pb-2
  }

  .nav-img {
    @apply
    text-3xl
  }

  .left-sidebar__list-item {
    @apply
    relative
    pr-3
    after:absolute
    after:content-['']
    after:bg-gray-400
    after:right-1
    after:bottom-2
    after:w-1
    after:h-1
    after:rounded-full
  }

  .left-sidebar__list {
    @apply
    px-4
    transition-all
    hover:bg-slate-200
    hover:rounded-md
  }

  .right-sidebar__list {
    @apply
    w-auto
    px-4
    transition-all
    hover:bg-slate-200
    hover:rounded-md
  }

  .content-container {
    @apply
    mobile:justify-center
    tablet:justify-between
    laptop:space-x-7
    flex
    mt-16
    h-auto
    bg-slate-100

    border
    border-amber-400
  }

  .content {
    @apply
    mobile:w-full
    mobile:h-screen
    mobile:flex
    mobile:flex-col
    mobile:my-auto
    tablet:w-2/3

    border
  }
}
